doctype html
html(lang="en")
  head
    title Update account info
  body
    p User Email: #{userEmail}
    p Favorite Book: #{favoriteBook}
    form(method="POST")
      label(for="newVal") New facorite book
      input(type="text" name="newVal")
